.carousel {
  position: absolute;
  top: 0;
  max-height: 70vh;
  width: 100%;
}

.carousel-item-img {
  border: 2px solid black;
}

.carousel-item-overlay {
  max-width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 40vh;
  left: 100px;
  z-index: 1000;
}

.carousel-item-overlay h1 {
  font-size: 80px;
  line-height: 1.2;
  text-align: left;
}

.carousel-item-overlay .ratings-and-reldate {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.carousel-item-overlay .description {
  margin-top: 12px;
  font-style: italic;
  text-align: justify;
  font-size: 20px;
}

.ratings-and-reldate h5 {
  font-size: 28px;
}

.ratings-and-reldate p {
  font-size: 22px;
}

/* Device Breakpoints */

@media screen and (max-width: 1600px) {
  .carousel-item-overlay h1 {
    font-size: 65px;
  }

  .carousel-item-overlay {
    max-width: 70%;
    top: 37vh;
    left: 80px;
  }

  .ratings-and-reldate h5 {
    font-size: 25px;
  }

  .carousel-item-overlay .description {
    margin-top: 10px;
    font-size: 18px;
  }
}
/* //Ipads */

@media screen and (max-width: 1100px) {
  .carousel-item-overlay {
    left: 60px;
    top: 22vh;
  }

  .carousel-item-overlay h1 {
    font-size: 60px;
  }
}

@media screen and (max-width: 900px) {
  .carousel-item-overlay {
    left: 40px;
    top: 15vh;
  }

  .carousel-item-overlay h1 {
    font-size: 50px;
  }
  .carousel-item-overlay .description {
    margin-top: 10px;
    font-size: 16px;
  }
}

/* //phones */

@media screen and (max-width: 470px) {

  .carousel-item-overlay {
    left: 20px;
    top: 10vh;
    max-width: 88%;
  }
 
  .carousel-item-overlay h1 {
    font-size: 25px;
    margin-bottom: 6px;
  }
  .carousel-item-overlay .description {
    margin-top: 5px;
    font-size: 12px;
    line-height: 1;
    text-align: left;
  }

  .ratings-and-reldate h5,.ratings-and-reldate p {
    font-size: 13px;
  }


}
